.card {
  padding: 1.25rem;
  margin-block: 1rem;

  background: var(--clr-neutral-100);

  border: 1px solid var(--clr-neutral-300);
  border-radius: var(--border-radius-900);
}

.input-group {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
  gap: 1rem;
}

form .section-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

form h2 {
  position: relative;

  font-size: 1.25rem;
  text-transform: uppercase;
  color: var(--clr-primary-900);
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

form button {
  transition: var(--transition);
}

form button svg {
  width: 42px;
  aspect-ratio: 1/1;
  pointer-events: none;
}

.add-button,
.delete-button {
  border: none;

  background: none;
  fill: var(--clr-primary-300);

  padding: 0.25rem;
}

.add-button:hover,
.delete-button:hover {
  fill: var(--clr-primary-900);
}
