header {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: min(3.5rem, 10vh, 10vw);
  padding-block: 2rem;

  background: var(--clr-primary-600);

  box-shadow: var(--box-shadow-200);
}

.header-wrapper {
  display: flex;
  align-items: center;
  gap: 0.75rem;

  padding-inline: 1rem;
}

header svg {
  height: min(4rem, 12vw);
  fill: var(--clr-primary-300);
}

header h1 {
  color: var(--clr-neutral-300);

  text-transform: uppercase;
  letter-spacing: -1.75px;
  word-spacing: -5px;
  line-height: 0.9;

  font-weight: 900;
  font-size: min(3.5rem, 8vw);
}

h1 span {
  color: var(--clr-primary-100);
}

header p {
  padding-left: 0.2rem;

  line-height: 1;
  font-weight: 400;
  font-size: min(1rem, 3.5vw);
  text-transform: uppercase;

  color: var(--clr-neutral-300);
}
