header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}

header svg {
  height: 5rem;
  fill: var(--clr-primary-200);
}

header h1 {
  color: var(--clr-neutral-800);

  text-transform: uppercase;
  letter-spacing: -1.75px;
  word-spacing: -5px;
  line-height: 0.9;

  font-weight: 900;
  font-size: min(3.5rem, 8vw);
}

h1 span {
  color: var(--clr-primary-400);
}

header p {
  line-height: 1;
  font-weight: 400;
  font-size: min(1rem, 4vw);
  color: var(--clr-neutral-700);
  text-transform: uppercase;
  padding-left: 0.2rem;
}
