.preview-container {
  height: max-content;

  margin-bottom: 0.5rem;

  background: var(--clr-neutral-100);

  border: 1px solid var(--clr-neutral-300);
  border-radius: var(--border-radius-900);
  overflow: hidden;

  box-shadow: var(--box-shadow-200);
}

@media screen and (min-width: 842px) {
  .preview-container {
    position: sticky;
    top: 1rem;
  }
}

.preview-header-container,
.preview-content-container {
  padding: 1.25rem;
}

.preview-header-container {
  background: var(--clr-primary-300);
  color: var(--clr-neutral-100);

  box-shadow: var(--box-shadow-100);
}

.preview-container h2 {
  margin-bottom: 1rem;
}

.preview-work-container,
.preview-education-container {
  margin-bottom: 1rem;
  margin-left: 1rem;
}
