.left-column {
  overflow: hidden;
}

@media screen and (min-width: 842px) {
  .left-column {
    height: max-content;
    position: sticky;
    top: 1rem;
  }
}

.preview-container {
  background: var(--clr-neutral-100);

  overflow: hidden;

  border: 1px solid var(--clr-neutral-300);
  border-radius: var(--border-radius-900);

  box-shadow: var(--box-shadow-200);

  margin-bottom: min(3.5rem, 10vh, 10vw);
}

.preview-header-container,
.preview-content-container {
  padding: 1.25rem;
}

.preview-header-container {
  background: var(--clr-primary-300);
  color: var(--clr-neutral-100);

  box-shadow: var(--box-shadow-100);
}

.preview-container h2 {
  margin-bottom: 1rem;
}

.preview-work-container,
.preview-education-container {
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.preview-button-container {
  display: grid;
  gap: 1rem;
  justify-content: center;

  padding-block: 1rem;
  margin-bottom: min(3.5rem, 10vh, 10vw);
}

.standard-button {
  padding: 0.75rem 1.5rem;

  border-radius: var(--border-radius-100);
  border: 1px solid var(--clr-primary-600);

  background: var(--clr-primary-400);
  color: var(--clr-neutral-100);

  font: inherit;
  font-weight: bold;

  text-transform: uppercase;

  transition: var(--transition);
}

.standard-button:is(:hover, :focus) {
  background: var(--clr-primary-300);
}
